// need to fix the issue where container has the flex property

.episodes {
  padding: 3rem;
  background-color: $c-white;
  font-family: sans-serif;
  color: $c-black;
  text-transform: uppercase;
}

.content {

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;

  &__head {
    font-size: 3rem;
    font-family: 'Comfortaa', cursive;
    text-align: center;
  }

}
.grid {
  background-color: #eee;
  display: flex;

  &-item {
    padding: 1rem;
  }
}

// maybe use the easy html card tutorial for grid items? Figure out flex-basis :)
