.content {
  padding: 3rem;
  background-color: $c-white;
  font-family: sans-serif;

  &__head {
    font-size: 3rem;
    font-family: 'Comfortaa', cursive;
    margin: 0 auto;
  }
}

.grid {
  background-color: #eee;
}
