// @import 'yoga';
// @import 'normalize';



// colors
$c-white: #fff;
$c-fade-text: #666;
$c-black: #000;
$c-pop: #e33;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'nav';
@import 'hero';
// Hero styles start here
